* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    /* background: #7fb3ff; */
    background: #000;
    height: 100vh;
    width: 100%;

}

section {
    padding: 120px 14%;

}

/* Navigation Bar  */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #10101a;
    padding: 24px 14%;
    transition: .3s;
}

.logo {
    color: #ffffff;
    font-family: "Syncopate", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

div.container a {
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 10px;
    position: relative;

}

div.navbar {
    display: flex;
    position: relative;
}

div.navbar a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    
}

div.navbar a:before {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.2;
    transition: all 0.3s;
}

.navbar a:hover:before
{
    height: 100%;
}

.navbar .profile-pic {
    padding-top: 25px;
    padding-bottom: 0px;
}

#hamburger {
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
    z-index: 100;
    display: none;
}


/* Home Section  */

.home-section {
    height: 100vh;
    width: 100%;
    padding: 0; 
    position: relative;
    display: flex;
    align-items: center;
}

/* .home-section .home-text {
    text-align: center;
} */

.home-section marquee {
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    text-align: center;
    font-family: "Syncopate", serif;
    color: #fff;
    font-size: 10vw;
    
}

.home-section img {
    height: 500px;
    width: 700px;
    position: absolute;
    right: 20px;
    bottom: 100px;
}

.smile {
    position: absolute;
    bottom: 390px;
    right: 435px;
    color: #ffffff;
}

/* About Section  */

.about-section {
    height: 60vh;
    width: 100%;
    padding: 0;
    background-color: #10101a;
    position: relative;
    display: flex;
    align-items: center;
}

.about-section marquee {
    text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
    text-align: center;
    font-family: "Syncopate", serif;
    color: #fff;
    font-size: 10vw;
    
}

.about-text {
    color: #ffffff;
    width: 100%;
    text-align: left;
}

.about-text h1 {
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* Projects Section  */

.projects-section {
    background: #ffffff;
    height: 115vh;
    width: 100%;
}

.projects-text h1 {
    font-family: "Syncopate", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #000000;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.project-grid a:hover {
    opacity: .4;

}



/* Grid Items  */

.grid-img {
    height: 15vh;
    width: 100%;
    background: #0b0b13;
    object-fit: cover;
    border: 7px solid #000000;
    margin: auto;
}

.grid-img-1 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

div.text-1 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
}

h2.work-title {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 400, "ital" 1;
    font-size: 3rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
        15px 15px 0px #e601c0,
        20px 20px 0px #e9019a,
        25px 25px 0px #f40468,
        45px 45px 10px #482896;
    cursor: pointer;
}
  
h2.work-title:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}

.grid-img-2 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-img-3 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-img-4 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* Contact Section  */

.contact-section {
    height: 100vh;
    width: 100%;
}

.contact-heading h2 {
    color: #ffffff;
    font-family: "Syncopate", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {
    position: relative;
}

form input, form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #0b0b13;
    color: #ffffff;
    margin-bottom: .5rem;
    border-radius: 5px;    
}

form input::placeholder, form textarea::placeholder {
    color: #cccccc6c;
}

textarea {
    resize: none;
    height: 200px;
}

form .send-btn {
    box-shadow: 4px 4px #ffffff;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Bodoni Moda", sans-serif;
    letter-spacing: 2px;
    transition: all ease 0.3s;
    cursor: pointer;
}

form .send-btn:hover {
    background-color: #ccc;
    color: #000000;
    box-shadow: 4px 4px #ffffff;
}

/* Footer Section */

.footer-distributed {
    background: #10101a;
    width: 100%;
    padding: 55px;
    padding-bottom: 10px;

    text-align: left;
    color: #ffffff;
}

.footer-distributed .footer-left
.footer-distributed .footer-center
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 35%;
}

.footer-left h3 {
    font-family: "Syncopate", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
}

.footer-distributed .footer-left, 
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
} 

/* Media Queries  */

@media (max-width: 1430px) {
    header {
        padding: 24px 3%;
    }

    .home-section {
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
    }

    .logo {
        font-size: 2rem;
    }

    .home-text p {
        font-size: 1.4rem;
        padding-left: 14%;
        padding-right: 14%;
    }

    /* .about-section {
        height: 35vh;
    } */

    .projects-section {
        height: 100vh;
    }

}

/* @media (max-width: 1410px) {
    .home-section .home-text h1 {
        display: none;
    }
} */

@media (max-width: 1120px) {
    .home-section .home-text {
        font-size: 6rem;
    } 
}

@media (max-width: 1020px) {
    /* .home-section {
        height: 80vh;
    } */
    /* .home-text {
        margin: auto 0;
    } */

    /* .home-text h1 {
        padding: 40px 3% 10px;
    } */

    /* .navbar a {
        font-size: 14px;
    } */

    /* .home-section .img-container img {
        display: none;
    } */

    
}



@media (max-width: 930px) {
    header {
        padding: 40px 3% 24px;
    }
    
    section {
        padding: 50px 3%;
    }

    .home-text h1 {
        padding: 40px 3% 10px; 
        font-size: 6rem;
    }

    .home-text p {
        font-size: 1rem;
        padding-left: 14%;
        padding-right: 14%;
    }

    .projects-section {
        height: 80vh;
    }

}



@media (max-width: 830px) {
    #hamburger {
        display: block;
    }

    .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        background: #10101a;
        text-align: left;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        border-left: 2px solid #ffffff;
        margin: 1rem;
        display: block;
    }

    .navbar.active {
        top: 100%;
    }

    .arrow {
        right: 40px;
    }

    
}

@media (max-width: 700px) {

    .home-section {
        height: 70vh;
    }

    .home-text h1 {
        padding-top: 40px;
    }

    .projects-section {
        height: 82vh;
    }

    .arrow {
        margin-top: 25px;
    }

    .arrow span {
        height: 15px;
        width: 15px;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: rotate(45deg) translate(10px, 10px);
        }
    }
}